<nav class="navbar navbar-light bg-light px-4">
  <div class="d-flex align-items-center">
    <i class="fa-solid fa-film text-primary me-2" style="font-size: 40px;"></i>
    <a class="navbar-brand fw-bold" href="#">Movie Lists</a>
  </div>
  <%= link_to 'New List', new_list_path, class: "btn btn-primary" %>
</nav>



<div class="movies-grid">
      <% @list.movies.each do |movie| %>
      <div class="box-poster">
        <img class="img-poster" src="<%= movie.title %>">
        <p class="movie-path"><%= link_to movie.title, movie_path(movie) %></p>
      </div>
      <% end %>
    </div>
